<div class="footer">
        <div class="col-md-8 g-brd-right--md g-brd-secondary-light-v2 g-mb-30">
        <!-- Links -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item g-pl-0 g-pr-10">
            <a class="u-link-v5 g-color-secondary-light-v1 g-font-size-12" [routerLink]="['/credits']">Spingular's Chat Team</a>
          </li>
          <a class="u-link-v5 g-color-secondary-light-v1 g-font-size-12" [routerLink]="['/help']">Help</a>
          </li>
          <!-- 
          <li class="list-inline-item g-px-10">
            <a class="u-link-v5 g-color-secondary-light-v1 g-font-size-12" href="#!">Work with Us</a>
          </li>
          <li class="list-inline-item g-px-10">
            <a class="u-link-v5 g-color-secondary-light-v1 g-font-size-12" href="#!">Advertise</a>
          </li>
          
          <li class="list-inline-item g-px-10">
            <a class="u-link-v5 g-color-secondary-light-v1 g-font-size-12" href="#!">Your Ad Choices</a>
          </li>
           -->
          <li class="list-inline-item g-px-10">
            <a class="u-link-v5 g-color-secondary-light-v1 g-font-size-12" [routerLink]="['/privacy']">Privacy</a>
          </li>
          <li class="list-inline-item g-px-10">
            <a class="u-link-v5 g-color-secondary-light-v1 g-font-size-12" [routerLink]="['/terms']">Terms of Use</a>
          </li>
          <li class="list-inline-item g-px-10">
            <a class="u-link-v5 g-color-secondary-light-v1 g-font-size-24" href="https://github.com/Tonterias/spingularchatsql6">
    	    	<i class="fa fa-github-square"></i>
        	</a>
          </li>
        </ul>
        <!-- End Links -->
      </div>
</div>
