<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="offensiveMessage">
            <h2><span jhiTranslate="spingularchatsql6App.offensiveMessage.detail.title">Offensive Message</span> {{offensiveMessage.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="spingularchatsql6App.offensiveMessage.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{offensiveMessage.creationDate}}</span>
                </dd>
                <dt><span jhiTranslate="spingularchatsql6App.offensiveMessage.isOffensive">Is Offensive</span></dt>
                <dd>
                    <span>{{offensiveMessage.isOffensive}}</span>
                </dd>
                <dt><span jhiTranslate="spingularchatsql6App.offensiveMessage.chatUser">Chat User</span></dt>
                <dd>
                    <div *ngIf="offensiveMessage.chatUserId">
                        <a [routerLink]="['/chat-user', offensiveMessage.chatUserId, 'view']">{{offensiveMessage.chatUserId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="spingularchatsql6App.offensiveMessage.chatMessage">Chat Message</span></dt>
                <dd>
                    <div *ngIf="offensiveMessage.chatMessageId">
                        <a [routerLink]="['/chat-message', offensiveMessage.chatMessageId, 'view']">{{offensiveMessage.chatMessageId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/offensive-message', offensiveMessage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
